<header></header>
<body fxLayout="column" fxFlex="90" fxFlexOffset="5">
    <br>
    <img class="logo" src="../../../assets/dressuurpaard logo.jpg">
    <h1>Proef 3-b</h1>
    <div class="wrapper">
        <p>Vul de punten in van het scoreformulier</p>
        <form>
          <table>
            <tr>
              <th></th>
              <th>Rijbaan: 20x40 meter</th>
              <th>Lichtrijden</th>
              <th>Hele punten</th>
              <th>Halve punten</th>
              <th>Corr.</th>
              <th>Opmerkingen</th>
            </tr>
            <tr>
              <td>1</td>
              <td>A-X-C <br> C</td>
              <td>Binnenkomen arbeidsdraf <br> Rechterhand</td>
              <td><input type="text" formControlName="OneHP" name="OneHP"></td>
              <td><input type="text" formControlName="OneHalfP" name="OneHalfP"></td>
              <td><input type="text" formControlName="OneCorr" name="OneCorr"></td>
              <td><input type="text" formControlName="OneNotes" name="OneNotes"></td>
            </tr>
            <tr>
              <td>2</td>
              <td>M-F</td>
              <td>Gebroken lijn 5 meter</td>
              <td><input type="text" formControlName="TwoHP" name="TwoHP"></td>
              <td><input type="text" formControlName="TwoHalfP" name="TwoHalfP"></td>
              <td><input type="text" formControlName="TwoCorr" name="TwoCorr"></td>
              <td><input type="text" formControlName="TwoNotes" name="TwoNotes"></td>
            </tr>
            <tr>
              <td>3</td>
              <td>K-X-M</td>
              <td>Van hand veranderen en enkele passen de draf verruimen</td>
              <td><input type="text" formControlName="ThreeHP" name="ThreeHP"></td>
              <td><input type="text" formControlName="ThreeHalfP" name="ThreeHalfP"></td>
              <td><input type="text" formControlName="ThreeCorr" name="ThreeCorr"></td>
              <td><input type="text" formControlName="ThreeNotes" name="ThreeNotes"></td>
            </tr>
            <tr>
              <td>4</td>
              <td>H-K</td>
              <td>Gebroken lijn 5 meter</td>
              <td><input type="text" formControlName="FourHP" name="FourHP"></td>
              <td><input type="text" formControlName="FourHalfP" name="FourHalfP"></td>
              <td><input type="text" formControlName="FourCorr" name="FourCorr"></td>
              <td><input type="text" formControlName="FourNotes" name="FourNotes"></td>
            </tr>
            <tr>
              <td>5</td>
              <td>Tussen A en F</td>
              <td>Arbeidsgalop links aanspringen</td>
              <td><input type="text" formControlName="FiveHP" name="FiveHP"></td>
              <td><input type="text" formControlName="FiveHalfP" name="FiveHalfP"></td>
              <td><input type="text" formControlName="FiveCorr" name="FiveCorr"></td>
              <td><input type="text" formControlName="FiveNotes" name="FiveNotes"></td>
            </tr>
            <tr>
              <td>6</td>
              <td>B-E-B</td>
              <td>Grote volte</td>
              <td><input type="text" formControlName="SixHP" name="SixHP"></td>
              <td><input type="text" formControlName="SixHalfP" name="SixHalfP"></td>
              <td><input type="text" formControlName="SixCorr" name="SixCorr"></td>
              <td><input type="text" formControlName="SixNotes" name="SixNotes"></td>
            </tr>
            <tr>
              <td>7</td>
              <td>Tussen M en C</td>
              <td>Overgang arbeidsdraf</td>
              <td><input type="text" formControlName="SevenHP" name="SevenHP"></td>
              <td><input type="text" formControlName="SevenHalfP" name="SevenHalfP"></td>
              <td><input type="text" formControlName="SevenCorr" name="SevenCorr"></td>
              <td><input type="text" formControlName="SevenNotes" name="SevenNotes"></td>
            </tr>
            <tr>
              <td>8</td>
              <td>E-F</td>
              <td>Van hand veranderen</td>
              <td><input type="text" formControlName="EightHP" name="EightHP"></td>
              <td><input type="text" formControlName="EightHalfP" name="EightHalfP"></td>
              <td><input type="text" formControlName="EightCorr" name="EightCorr"></td>
              <td><input type="text" formControlName="EightNotes" name="EightNotes"></td>
            </tr>
            <tr>
              <td>9</td>
              <td>Tussen A en K</td>
              <td>Arbeidsgalop rechts aanspringen</td>
              <td><input type="text" formControlName="NineHP" name="NineHP"></td>
              <td><input type="text" formControlName="NineHalfP" name="NineHalfP"></td>
              <td><input type="text" formControlName="NineCorr" name="NineCorr"></td>
              <td><input type="text" formControlName="NineNotes" name="NineNotes"></td>
            </tr>
            <tr>
              <td>10</td>
              <td>E-B-E</td>
              <td>Grote volte</td>
              <td><input type="text" formControlName="TenHP" name="TenHP"></td>
              <td><input type="text" formControlName="TenHalfP" name="TenHalfP"></td>
              <td><input type="text" formControlName="TenCorr" name="TenCorr"></td>
              <td><input type="text" formControlName="TenNotes" name="TenNotes"></td>
            </tr>
            <tr>
              <td>11</td>
              <td>Tussen H en C</td>
              <td>Overgang arbeidsdraf</td>
              <td><input type="text" formControlName="ElevenHP" name="ElevenHP"></td>
              <td><input type="text" formControlName="ElevenHalfP" name="ElevenHalfP"></td>
              <td><input type="text" formControlName="ElevenCorr" name="ElevenCorr"></td>
              <td><input type="text" formControlName="ElevenNotes" name="ElevenNotes"></td>
            </tr>
            <tr>
              <td>12</td>
              <td>Tussen M en B</td>
              <td>Overgang arbeidsstap</td>
              <td><input type="text" formControlName="TwelveHP" name="twelveHP"></td>
              <td><input type="text" formControlName="TwelveHalfP" name="TwelveHalfP"></td>
              <td><input type="text" formControlName="TwelveCorr" name="TwelveCorr"></td>
              <td><input type="text" formControlName="TwelveNotes" name="TwelveNotes"></td>
            </tr>
            <tr>
              <td>13</td>
              <td>B-K</td>
              <td>Van hand veranderen en enkele passen de stap verruimen</td>
              <td><input type="text" formControlName="ThirteenHP" name="ThirteenHP"></td>
              <td><input type="text" formControlName="ThirteenHalfP" name="ThirteenHalfP"></td>
              <td><input type="text" formControlName="ThirteenCorr" name="ThirteenCorr"></td>
              <td><input type="text" formControlName="ThirteenNotes" name="ThirteenNotes"></td>
            </tr>
            <tr>
              <td>14</td>
              <td>Tussen A en F</td>
              <td>Overgang arbeidsdraf</td>
              <td><input type="text" formControlName="FourteenHP" name="FourteenHP"></td>
              <td><input type="text" formControlName="FourteenHalfP" name="FourteenHalfP"></td>
              <td><input type="text" formControlName="FourteenCorr" name="FourteenCorr"></td>
              <td><input type="text" formControlName="FourteenNotes" name="FourteenNotes"></td>
            </tr>
            <tr>
              <td>15</td>
              <td>B-E-B</td>
              <td>Grote volte en na enkele drafpassen het paard de hals laten strekken</td>
              <td><input type="text" formControlName="FifteenHP" name="FifteenHP"></td>
              <td><input type="text" formControlName="FifteenHalfP" name="FifteenHalfP"></td>
              <td><input type="text" formControlName="FifteenCorr" name="FifteenCorr"></td>
              <td><input type="text" formControlName="FifteenNotes" name="FifteenNotes"></td>
            </tr>
            <tr>
              <td>16</td>
              <td>Tussen B en M</td>
              <td>Teugels op maat maken</td>
              <td><input type="text" formControlName="SixteenHP" name="SixteenHP"></td>
              <td><input type="text" formControlName="SixteenHalfP" name="SixteenHalfP"></td>
              <td><input type="text" formControlName="SixteenCorr" name="SixteenCorr"></td>
              <td><input type="text" formControlName="SixteenNotes" name="SixteenNotes"></td>
            </tr>
            <tr>
              <td>17</td>
              <td>C-X</td>
              <td>Halve grote volte links</td>
              <td><input type="text" formControlName="SeventeenHP" name="SeventeenHP"></td>
              <td><input type="text" formControlName="SeventeenHalfP" name="SeventeenHalfP"></td>
              <td><input type="text" formControlName="SeventeenCorr" name="SeventeenCorr"></td>
              <td><input type="text" formControlName="SeventeenNotes" name="SeventeenNotes"></td>
            </tr>
            <tr>
              <td>18</td>
              <td>X-B</td>
              <td>Rechtuit</td>
              <td><input type="text" formControlName="EighteenHP" name="EighteenHP"></td>
              <td><input type="text" formControlName="EighteenHalfP" name="EighteenHalfP"></td>
              <td><input type="text" formControlName="EighteenCorr" name="EighteenCorr"></td>
              <td><input type="text" formControlName="EighteenNotes" name="EighteenNotes"></td>
            </tr>
            <tr>
              <td>19</td>
              <td>B</td>
              <td>Rechterhand</td>
              <td><input type="text" formControlName="NineteenHP" name="NineteenHP"></td>
              <td><input type="text" formControlName="NineteenHalfP" name="NineteenHalfP"></td>
              <td><input type="text" formControlName="NineteenCorr" name="NineteenCorr"></td>
              <td><input type="text" formControlName="NineteenNotes" name="NineteenNotes"></td>
            </tr>
            <tr>
              <td>20</td>
              <td>A</td>
              <td>Afwenden, daarna arbeidsstap</td>
              <td><input type="text" formControlName="TwentyHP" name="TwentyHP"></td>
              <td><input type="text" formControlName="TwentyHalfP" name="TwentyHalfP"></td>
              <td><input type="text" formControlName="TwentyCorr" name="TwentyCorr"></td>
              <td><input type="text" formControlName="TwentyNotes" name="TwentyNotes"></td>
            </tr>
            <tr>
              <td>21</td>
              <td>Tussen X en G</td>
              <td>Halthouden en groeten</td>
              <td><input type="text" formControlName="TwentyoneHP" name="TwentyoneHP"></td>
              <td><input type="text" formControlName="TwentyoneHalfP" name="TwentyoneHalfP"></td>
              <td><input type="text" formControlName="TwentyoneCorr" name="TwentyoneCorr"></td>
              <td><input type="text" formControlName="TentyoneNotes" name="TwentyoneNotes"></td>
            </tr>
            <tr>
              <td></td>
              <td></td>
              <td>In stap de rijbaan verlaten</td>
              <td><input type="text" formControlName="TwentyonehalfHP" name="TwentyonehalfHP"></td>
              <td><input type="text" formControlName="TwentyonehalfHalfP" name="TwentyonehalfHalfP"></td>
              <td><input type="text" formControlName="TwentyonehalfCorr" name="TwentyonehalfCorr"></td>
              <td><input type="text" formControlName="TwentyonehalfNotes" name="TwentyonehalfNotes"></td>
            </tr>
            <tr>
              <td>22</td>
              <td></td>
              <td>Stap: takt, ruimte en regelmaat</td>
              <td><input type="text" formControlName="TwentytwoHP" name="TwentytwoHP"></td>
              <td><input type="text" formControlName="TwentytwoHalfP" name="TwentytwoHalfP"></td>
              <td><input type="text" formControlName="TwentytwoCorr" name="TwentytwoCorr"></td>
              <td><input type="text" formControlName="TwentytwoNotes" name="TwentytwoNotes"></td>
            </tr>
            <tr>
              <td>23</td>
              <td></td>
              <td>Draf: takt, ruimte en regelmaat</td>
              <td><input type="text" formControlName="TwentythreeHP" name="TwentythreeHP"></td>
              <td><input type="text" formControlName="TwentythreeHalfP" name="TwentythreeHalfP"></td>
              <td><input type="text" formControlName="TwentythreeCorr" name="TwentythreeCorr"></td>
              <td><input type="text" formControlName="TwentythreeNotes" name="TwentythreeNotes"></td>
            </tr>
            <tr>
              <td>24</td>
              <td></td>
              <td>Galop: takt, ruimte en regelmaat</td>
              <td><input type="text" formControlName="TwentyfourHP" name="TwentyfourHP"></td>
              <td><input type="text" formControlName="TwentyfourHalfP" name="TwentyfourHalfP"></td>
              <td><input type="text" formControlName="TwentyfourCorr" name="TwentyfourCorr"></td>
              <td><input type="text" formControlName="TwentyfourNotes" name="TwentyfourNotes"></td>
            </tr>
            <tr>
              <td>25</td>
              <td></td>
              <td>De impulse: het arbeidstempo tijdens de drie basisgangen</td>
              <td><input type="text" formControlName="TwentyfiveHP" name="TwentyfiveHP"></td>
              <td><input type="text" formControlName="TwentyfiveHalfP" name="TwentyfiveHalfP"></td>
              <td><input type="text" formControlName="TwentyfiveCorr" name="TwentyfiveCorr"></td>
              <td><input type="text" formControlName="TwentyfiveNotes" name="TwentyfiveNotes"></td>
            </tr>
            <tr>
              <td>26</td>
              <td></td>
              <td>Het rechtgerichte, ontspannen en in aanleuning gaande paard</td>
              <td><input type="text" formControlName="TwentysixHP" name="TwentysixHP"></td>
              <td><input type="text" formControlName="TwentysixHalfP" name="TwentysixHalfP"></td>
              <td><input type="text" formControlName="TwentysixCorr" name="TwentysixCorr"></td>
              <td><input type="text" formControlName="TwentysixNotes" name="TwentysixNotes"></td>
            </tr>
            <tr>
              <td>27</td>
              <td></td>
              <td>Rijvaardigheid en harmonie</td>
              <td><input type="text" formControlName="TwentysevenHP" name="TwentysevenHP"></td>
              <td><input type="text" formControlName="TwentysevenHalfP" name="TwentysevenHalfP"></td>
              <td><input type="text" formControlName="TwentysevenCorr" name="TwentysevenCorr"></td>
              <td><input type="text" formControlName="TwentysevenNotes" name="TwentysevenNotes"></td>
            </tr>
            <tr>
              <td>28</td>
              <td></td>
              <td>Het effect van de hulpen</td>
              <td><input type="text" formControlName="TwentyeightHP" name="TwentyeightHP"></td>
              <td><input type="text" formControlName="TwentyeightHalfP" name="TwentyeightHalfP"></td>
              <td><input type="text" formControlName="TwentyeightCorr" name="TwentyeightCorr"></td>
              <td><input type="text" formControlName="TwentyeightNotes" name="TwentyeightNotes"></td>
            </tr>
            <tr>
              <td>29</td>
              <td></td>
              <td>De houding en zit van de ruiter/amazone</td>
              <td><input type="text" formControlName="TwentynineHP" name="TwentynineHP"></td>
              <td><input type="text" formControlName="TwentynineHalfP" name="TwentynineHalfP"></td>
              <td><input type="text" formControlName="TwentynineCorr" name="TwentynineCorr"></td>
              <td><input type="text" formControlName="TwentynineNotes" name="TwentynineNotes"></td>
            </tr>
            <tr>
              <td>30</td>
              <td></td>
              <td>De verzorging van het geheel</td>
              <td><input type="text" formControlName="ThirtyHP" name="ThirtyHP"></td>
              <td><input type="text" formControlName="ThirtyHalfP" name="ThirtyalfP"></td>
              <td><input type="text" formControlName="ThirtyCorr" name="ThirtyCorr"></td>
              <td><input type="text" formControlName="ThirtyNotes" name="ThirtyNotes"></td>
            </tr>
            <tr>
              <td></td>
              <td></td>
              <td>Subtotaal</td>
              <td><input type="text" formControlName="SubtotaalHelePunten" name="SubtotaalHelePunten"></td>
              <td><input type="text" formControlName="SubtotaalHalvePunten" name="SubtotaalHalvePunten"></td>
              <td><input type="text" formControlName="SubtotaalCorr" name="SubtotaalCorr"></td>
            </tr>
            <tr>
              <td></td>
              <td></td>
              <td>Strafpunten</td>
              <td><input type="text" formControlName="Strafpunten" name="Strafpunten"></td>
            </tr>
            <tr>
              <td></td>
              <td></td>
              <td>Eindtotaal</td>
              <td><input type="text" formControlName="Eindtotaal" name="Eindtotaal"></td>
            </tr>
          </table>
          <br><br>
          <button class="btn2" mat-raised-button type="submit">Opslaan</button>
        </form>
    </div>
</body>
