<header></header>
<body fxLayout="column" fxFlex="90" fxFlexOffset="5">
    <br>
    <img class="logo" src="../../../assets/dressuurpaard logo.jpg">
    <h1>Proef 3-b</h1>
    <div class="wrapper">
        <p>Vul de punten in van het scoreformulier</p>
        <form>
          <table>
            <tr>
              <th></th>
              <th>Rijbaan: 20x40 meter</th>
              <th>Lichtrijden</th>
              <th>Hele punten</th>
              <th>Halve punten</th>
              <th>Corr.</th>
              <th>Opmerkingen</th>
            </tr>
            <tr>
              <td>1</td>
              <td>A-X-C <br> C</td>
              <td>Binnenkomen arbeidsdraf <br> Rechterhand</td>
              <td><input type="text" formControlName="OneHP" name="OneHP"></td>
              <td><input type="text" formControlName="OneHalfP" name="OneHalfP"></td>
              <td><input type="text" formControlName="OneCorr" name="OneCorr"></td>
              <td><input type="text" formControlName="OneNotes" name="OneNotes"></td>
            </tr>
            <tr>
              <td>2</td>
              <td>M-F</td>
              <td>Gebroken lijn 5 meter</td>
              <td><input type="text" formControlName="TwoHP" name="TwoHP"></td>
              <td><input type="text" formControlName="TwoHalfP" name="TwoHalfP"></td>
              <td><input type="text" formControlName="TwoCorr" name="TwoCorr"></td>
              <td><input type="text" formControlName="TwoNotes" name="TwoNotes"></td>
            </tr>
            <tr>
              <td>3</td>
              <td>K-X-M</td>
              <td>Van hand veranderen en enkele passen de draf verruimen</td>
              <td><input type="text" formControlName="ThreeHP" name="ThreeHP"></td>
              <td><input type="text" formControlName="ThreeHalfP" name="ThreeHalfP"></td>
              <td><input type="text" formControlName="ThreeCorr" name="ThreeCorr"></td>
              <td><input type="text" formControlName="ThreeNotes" name="ThreeNotes"></td>
            </tr>
            <tr>
              <td>4</td>
              <td>H-K</td>
              <td>Gebroken lijn 5 meter</td>
              <td><input type="text" formControlName="FourHP" name="FourHP"></td>
              <td><input type="text" formControlName="FourHalfP" name="FourHalfP"></td>
              <td><input type="text" formControlName="FourCorr" name="FourCorr"></td>
              <td><input type="text" formControlName="FourNotes" name="FourNotes"></td>
            </tr>
            <tr>
              <td>5</td>
              <td>Tussen A en F</td>
              <td>Arbeidsgalop links aanspringen</td>
              <td><input type="text" formControlName="FiveHP" name="FiveHP"></td>
              <td><input type="text" formControlName="FiveHalfP" name="FiveHalfP"></td>
              <td><input type="text" formControlName="FiveCorr" name="FiveCorr"></td>
              <td><input type="text" formControlName="FiveNotes" name="FiveNotes"></td>
            </tr>
            <tr>
              <td>6</td>
              <td>B-E-B</td>
              <td>Grote volte</td>
              <td><input type="text" formControlName="6HelePunten" name="6HelePunten"></td>
              <td><input type="text" formControlName="6HalvePunten" name="6HalvePunten"></td>
              <td><input type="text" formControlName="6Corr" name="6Corr"></td>
              <td><input type="text" formControlName="6Opmerkingen" name="6Opmerkingen"></td>
            </tr>
            <tr>
              <td>7</td>
              <td>Tussen M en C</td>
              <td>Overgang arbeidsdraf</td>
              <td><input type="text" formControlName="7HelePunten" name="7HelePunten"></td>
              <td><input type="text" formControlName="7HalvePunten" name="7HalvePunten"></td>
              <td><input type="text" formControlName="7Corr" name="7Corr"></td>
              <td><input type="text" formControlName="7Opmerkingen" name="7Opmerkingen"></td>
            </tr>
            <tr>
              <td>8</td>
              <td>E-F</td>
              <td>Van hand veranderen</td>
              <td><input type="text" formControlName="8HelePunten" name="8HelePunten"></td>
              <td><input type="text" formControlName="8HalvePunten" name="8HalvePunten"></td>
              <td><input type="text" formControlName="8Corr" name="8Corr"></td>
              <td><input type="text" formControlName="8Opmerkingen" name="8Opmerkingen"></td>
            </tr>
            <tr>
              <td>9</td>
              <td>Tussen A en K</td>
              <td>Arbeidsgalop rechts aanspringen</td>
              <td><input type="text" formControlName="9HelePunten" name="9HelePunten"></td>
              <td><input type="text" formControlName="9HalvePunten" name="9HalvePunten"></td>
              <td><input type="text" formControlName="9Corr" name="9Corr"></td>
              <td><input type="text" formControlName="9Opmerkingen" name="9Opmerkingen"></td>
            </tr>
            <tr>
              <td>10</td>
              <td>E-B-E</td>
              <td>Grote volte</td>
              <td><input type="text" formControlName="10HelePunten" name="10HelePunten"></td>
              <td><input type="text" formControlName="10HalvePunten" name="10HalvePunten"></td>
              <td><input type="text" formControlName="10Corr" name="10Corr"></td>
              <td><input type="text" formControlName="10Opmerkingen" name="10Opmerkingen"></td>
            </tr>
            <tr>
              <td>11</td>
              <td>Tussen H en C</td>
              <td>Overgang arbeidsdraf</td>
              <td><input type="text" formControlName="11HelePunten" name="11HelePunten"></td>
              <td><input type="text" formControlName="11HalvePunten" name="11HalvePunten"></td>
              <td><input type="text" formControlName="11Corr" name="11Corr"></td>
              <td><input type="text" formControlName="11Opmerkingen" name="11Opmerkingen"></td>
            </tr>
            <tr>
              <td>12</td>
              <td>Tussen M en B</td>
              <td>Overgang arbeidsstap</td>
              <td><input type="text" formControlName="12HelePunten" name="12HelePunten"></td>
              <td><input type="text" formControlName="12HalvePunten" name="12HalvePunten"></td>
              <td><input type="text" formControlName="12Corr" name="12Corr"></td>
              <td><input type="text" formControlName="12Opmerkingen" name="12Opmerkingen"></td>
            </tr>
            <tr>
              <td>13</td>
              <td>B-K</td>
              <td>Van hand veranderen en enkele passen de stap verruimen</td>
              <td><input type="text" formControlName="13HelePunten" name="13HelePunten"></td>
              <td><input type="text" formControlName="13HalvePunten" name="13HalvePunten"></td>
              <td><input type="text" formControlName="13Corr" name="13Corr"></td>
              <td><input type="text" formControlName="13Opmerkingen" name="13Opmerkingen"></td>
            </tr>
            <tr>
              <td>14</td>
              <td>Tussen A en F</td>
              <td>Overgang arbeidsdraf</td>
              <td><input type="text" formControlName="14HelePunten" name="14HelePunten"></td>
              <td><input type="text" formControlName="14HalvePunten" name="14HalvePunten"></td>
              <td><input type="text" formControlName="14Corr" name="14Corr"></td>
              <td><input type="text" formControlName="14Opmerkingen" name="14Opmerkingen"></td>
            </tr>
            <tr>
              <td>15</td>
              <td>B-E-B</td>
              <td>Grote volte en na enkele drafpassen het paard de hals laten strekken</td>
              <td><input type="text" formControlName="15HelePunten" name="15HelePunten"></td>
              <td><input type="text" formControlName="15HalvePunten" name="15HalvePunten"></td>
              <td><input type="text" formControlName="15Corr" name="15Corr"></td>
              <td><input type="text" formControlName="15Opmerkingen" name="15Opmerkingen"></td>
            </tr>
            <tr>
              <td>16</td>
              <td>Tussen B en M</td>
              <td>Teugels op maat maken</td>
              <td><input type="text" formControlName="16HelePunten" name="16HelePunten"></td>
              <td><input type="text" formControlName="16HalvePunten" name="16HalvePunten"></td>
              <td><input type="text" formControlName="16Corr" name="16Corr"></td>
              <td><input type="text" formControlName="16Opmerkingen" name="16Opmerkingen"></td>
            </tr>
            <tr>
              <td>17</td>
              <td>C-X</td>
              <td>Halve grote volte links</td>
              <td><input type="text" formControlName="17HelePunten" name="17HelePunten"></td>
              <td><input type="text" formControlName="17HalvePunten" name="17HalvePunten"></td>
              <td><input type="text" formControlName="17Corr" name="17Corr"></td>
              <td><input type="text" formControlName="17pmerkingen" name="17Opmerkingen"></td>
            </tr>
            <tr>
              <td>18</td>
              <td>X-B</td>
              <td>Rechtuit</td>
              <td><input type="text" formControlName="18HelePunten" name="18HelePunten"></td>
              <td><input type="text" formControlName="18HalvePunten" name="81HalvePunten"></td>
              <td><input type="text" formControlName="18Corr" name="18Corr"></td>
              <td><input type="text" formControlName="18Opmerkingen" name="18Opmerkingen"></td>
            </tr>
            <tr>
              <td>19</td>
              <td>B</td>
              <td>Rechterhand</td>
              <td><input type="text" formControlName="19HelePunten" name="19HelePunten"></td>
              <td><input type="text" formControlName="19HalvePunten" name="19HalvePunten"></td>
              <td><input type="text" formControlName="19Corr" name="19Corr"></td>
              <td><input type="text" formControlName="19Opmerkingen" name="19Opmerkingen"></td>
            </tr>
            <tr>
              <td>20</td>
              <td>A</td>
              <td>Afwenden, daarna arbeidsstap</td>
              <td><input type="text" formControlName="20HelePunten" name="20HelePunten"></td>
              <td><input type="text" formControlName="1=20HalvePunten" name="20HalvePunten"></td>
              <td><input type="text" formControlName="20Corr" name="20Corr"></td>
              <td><input type="text" formControlName="20Opmerkingen" name="20Opmerkingen"></td>
            </tr>
            <tr>
              <td>21</td>
              <td>Tussen X en G</td>
              <td>Halthouden en groeten</td>
              <td><input type="text" formControlName="21HelePunten" name="21HelePunten"></td>
              <td><input type="text" formControlName="21HalvePunten" name="21HalvePunten"></td>
              <td><input type="text" formControlName="21Corr" name="21Corr"></td>
              <td><input type="text" formControlName="21Opmerkingen" name="21Opmerkingen"></td>
            </tr>
            <tr>
              <td></td>
              <td></td>
              <td>In stap de rijbaan verlaten</td>
              <td><input type="text" formControlName="211HelePunten" name="211HelePunten"></td>
              <td><input type="text" formControlName="211HalvePunten" name="211HalvePunten"></td>
              <td><input type="text" formControlName="211Corr" name="211Corr"></td>
              <td><input type="text" formControlName="211Opmerkingen" name="211Opmerkingen"></td>
            </tr>
            <tr>
              <td>22</td>
              <td></td>
              <td>Stap: takt, ruimte en regelmaat</td>
              <td><input type="text" formControlName="22HelePunten" name="22HelePunten"></td>
              <td><input type="text" formControlName="22HalvePunten" name="22HalvePunten"></td>
              <td><input type="text" formControlName="22Corr" name="22Corr"></td>
              <td><input type="text" formControlName="22Opmerkingen" name="22Opmerkingen"></td>
            </tr>
            <tr>
              <td>23</td>
              <td></td>
              <td>Draf: takt, ruimte en regelmaat</td>
              <td><input type="text" formControlName="23HelePunten" name="23HelePunten"></td>
              <td><input type="text" formControlName="23HalvePunten" name="23HalvePunten"></td>
              <td><input type="text" formControlName="23Corr" name="23Corr"></td>
              <td><input type="text" formControlName="23Opmerkingen" name="23Opmerkingen"></td>
            </tr>
            <tr>
              <td>24</td>
              <td></td>
              <td>Galop: takt, ruimte en regelmaat</td>
              <td><input type="text" formControlName="24HelePunten" name="24HelePunten"></td>
              <td><input type="text" formControlName="24HalvePunten" name="24HalvePunten"></td>
              <td><input type="text" formControlName="24Corr" name="24Corr"></td>
              <td><input type="text" formControlName="24Opmerkingen" name="24Opmerkingen"></td>
            </tr>
            <tr>
              <td>25</td>
              <td></td>
              <td>De impulse: het arbeidstempo tijdens de drie basisgangen</td>
              <td><input type="text" formControlName="25HelePunten" name="25HelePunten"></td>
              <td><input type="text" formControlName="25HalvePunten" name="25HalvePunten"></td>
              <td><input type="text" formControlName="25Corr" name="25Corr"></td>
              <td><input type="text" formControlName="25Opmerkingen" name="25Opmerkingen"></td>
            </tr>
            <tr>
              <td>26</td>
              <td></td>
              <td>Het rechtgerichte, ontspannen en in aanleuning gaande paard</td>
              <td><input type="text" formControlName="26HelePunten" name="26HelePunten"></td>
              <td><input type="text" formControlName="26HalvePunten" name="26HalvePunten"></td>
              <td><input type="text" formControlName="26Corr" name="26Corr"></td>
              <td><input type="text" formControlName="26Opmerkingen" name="26Opmerkingen"></td>
            </tr>
            <tr>
              <td>27</td>
              <td></td>
              <td>Rijvaardigheid en harmonie</td>
              <td><input type="text" formControlName="27HelePunten" name="27HelePunten"></td>
              <td><input type="text" formControlName="27HalvePunten" name="27HalvePunten"></td>
              <td><input type="text" formControlName="27Corr" name="27Corr"></td>
              <td><input type="text" formControlName="27Opmerkingen" name="27Opmerkingen"></td>
            </tr>
            <tr>
              <td>28</td>
              <td></td>
              <td>Het effect van de hulpen</td>
              <td><input type="text" formControlName="28HelePunten" name="28HelePunten"></td>
              <td><input type="text" formControlName="28HalvePunten" name="28HalvePunten"></td>
              <td><input type="text" formControlName="28Corr" name="28Corr"></td>
              <td><input type="text" formControlName="28Opmerkingen" name="28pmerkingen"></td>
            </tr>
            <tr>
              <td>29</td>
              <td></td>
              <td>De houding en zit van de ruiter/amazone</td>
              <td><input type="text" formControlName="29HelePunten" name="29HelePunten"></td>
              <td><input type="text" formControlName="29HalvePunten" name="29HalvePunten"></td>
              <td><input type="text" formControlName="29Corr" name="29Corr"></td>
              <td><input type="text" formControlName="29Opmerkingen" name="29Opmerkingen"></td>
            </tr>
            <tr>
              <td>30</td>
              <td></td>
              <td>De verzorging van het geheel</td>
              <td><input type="text" formControlName="30HelePunten" name="30HelePunten"></td>
              <td><input type="text" formControlName="30HalvePunten" name="30HalvePunten"></td>
              <td><input type="text" formControlName="30Corr" name="30Corr"></td>
              <td><input type="text" formControlName="30Opmerkingen" name="30Opmerkingen"></td>
            </tr>
            <tr>
              <td></td>
              <td></td>
              <td>Subtotaal</td>
              <td><input type="text" formControlName="SubtotaalHelePunten" name="SubtotaalHelePunten"></td>
              <td><input type="text" formControlName="SubtotaalHalvePunten" name="SubtotaalHalvePunten"></td>
              <td><input type="text" formControlName="SubtotaalCorr" name="SubtotaalCorr"></td>
            </tr>
            <tr>
              <td></td>
              <td></td>
              <td>Strafpunten</td>
              <td><input type="text" formControlName="Strafpunten" name="Strafpunten"></td>
            </tr>
            <tr>
              <td></td>
              <td></td>
              <td>Eindtotaal</td>
              <td><input type="text" formControlName="Eindtotaal" name="Eindtotaal"></td>
            </tr>
          </table>
          <br><br>
          <button class="btn2" mat-raised-button type="submit">Opslaan</button>
        </form>
    </div>
</body>
