<header></header>
<body fxLayout="column" fxFlex="90" fxFlexOffset="5">
    <br>
    <img class="logo" src="../../../assets/dressuurpaard logo.jpg">
    <h1>Dressuur Platform</h1>
    <div class="wrapper">
        <a class="btn2" mat-raised-button href="./login">Inloggen</a>
        <a class="btn2" mat-raised-button href="./register">Registreren</a>
    </div>
    <div class="wrapper">
        <p>Op dit platform kan je wedstrijden bijhouden en te zien hoe andere ruiters het doen.</p><br>
        <a class="btn3" mat-raised-button href="./proeven">Vul score in</a>
    </div>
</body>