<header></header>
<body fxLayout="column" fxFlex="90" fxFlexOffset="5">
    <br>
    <img class="logo" src="../../../assets/dressuurpaard logo.jpg">
    <h1>Proeven</h1>
    <div class="wrapper">
        <p>Selecteer welke proef je gereden hebt</p>
        <ul> B proeven:
            <li><a href="/proef3">proef 3-b</a></li>
            <li><a href="/proef4">proef 4-b</a></li>
            <li><a href="/proef5">proef 5-b</a></li>
            <li><a href="/proef6">proef 6-b</a></li>
        </ul>
    </div>
</body>